# PostgreSQL
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=your_database_user
POSTGRES_PASSWORD=your_super_secret_password
POSTGRES_DB=your_database_name
 
# Redis
REDIS_HOST=redis
REDIS_PORT=6379
 
# App
APP_PORT=3000
# JWT
JWT_SECRET=change-me
JWT_EXPIRES_IN=1h
